# Font Icon Snippets
#
# All PatternFly icons (PatternFly and recommended Font Awesome icons).
# Icons can be inserted into an HTML file by typing "i-"
#
# Refer to https://www.patternfly.org/styles/icons/ for details on PatternFly icons.

'.text.html':

# FA Icons

  '˄ up angle (fa)':
    'prefix': 'i-angle-up'
    'body': '<span class="fa fa-angle-up"></span>'

  '˅ down angle (fa)':
    'prefix': 'i-angle-down'
    'body': '<span class="fa fa-angle-down"></span>'

  '< left angle (fa)':
    'prefix': 'i-angle-left'
    'body': '<span class="fa fa-angle-left"></span>'

  '≪ dbl left angle (fa)':
    'prefix': 'i-angle-left2'
    'body': '<span class="fa fa-angle-double-left"></span>'

  '> right angle (fa)':
    'prefix': 'i-angle-right'
    'body': '<span class="fa fa-angle-right"></span>'

  '≫ dbl right angle (fa)':
    'prefix': 'i-angle-right2'
    'body': '<span class="fa fa-angle-double-right"></span>'

  '⬇️◯ arrow down in circle (fa)':
    'prefix': 'i-arrow-down-circle'
    'body': '<span class="fa fa-arrow-circle-o-down"></span>'

  '🚫 ban (fa)':
    'prefix': 'i-ban'
    'body': '<span class="fa fa-ban"></span>'

   '🐞 bug (fa)':
     'prefix': 'i-bug'
     'body': '<span class="fa fa-bug"></span>'

   '✓ check (fa)':
     'prefix': 'i-check'
     'body': '<span class="fa fa-check"></span>'

   '⏰ clock (fa)':
     'prefix': 'i-clock'
     'body': '<span class="fa fa-clock-o"></span>'

   'cube (fa)':
     'prefix': 'i-cube'
     'body': '<span class="fa fa-cube"></span>'

   'cubes (fa)':
     'prefix': 'i-cubes'
     'body': '<span class="fa fa-cubes"></span>'

   '▉ database (fa)':
     'prefix': 'i-database'
     'body': '<span class="fa fa-database"></span>'

   '✉ envelope (fa)':
     'prefix': 'i-envelope'
     'body': '<span class="fa fa-envelope"></span>'

   'filter (fa)':
     'prefix': 'i-filter'
     'body': '<span class="fa fa-filter"></span>'

   'lock (fa)':
     'prefix': 'i-lock'
     'body': '<span class="fa fa-lock"></span>'

   'map marker (fa)':
     'prefix': 'i-map-marker'
     'body': '<span class="fa fa-map-marker"></span>'

   '- minus (fa)':
     'prefix': 'i-minus'
     'body': '<span class="fa fa-minus"></span>'

   '+ plus (fa)':
     'prefix': 'i-plus'
     'body': '<span class="fa fa-plus"></span>'

   'plus square (fa)':
     'prefix': 'i-plus-square'
     'body': '<span class="fa fa-plus-square"></span>'

   'power off (fa)':
     'prefix': 'i-power-off'
     'body': '<span class="fa fa-power-off"></span>'

   'refresh (fa)':
     'prefix': 'i-refresh'
     'body': '<span class="fa fa-refresh"></span>'

   'search (fa)':
     'prefix': 'i-search'
     'body': '<span class="fa fa-search"></span>'

   'shield (fa)':
     'prefix': 'i-shield'
     'body': '<span class="fa fa-shield"></span>'

   '★ star (fa)':
     'prefix': 'i-star'
     'body': '<span class="fa fa-star"></span>'

   '☆ star open (fa)':
     'prefix': 'i-star-open'
     'body': '<span class="fa fa-star-o"></span>'

   'tachometer (fa)':
     'prefix': 'i-tachometer'
     'body': '<span class="fa fa-tachometer"></span>'

   'thumb tack (fa)':
     'prefix': 'i-thumb-tack'
     'body': '<span class="fa fa-thumb-tack"></span>'

   'unlock (fa)':
     'prefix': 'i-unlock'
     'body': '<span class="fa fa-unlock-alt"></span>'


# PF Icons

  '⨁ add (pf)':
    'prefix': 'i-add'
    'body': '<span class="pficon pficon-add-circle-o"></span>'

  'build (pf)':
    'prefix': 'i-build'
    'body': '<span class="pficon pficon-build"></span>'

  'builder image (pf)':
    'prefix': 'i-builder-image'
    'body': '<span class="pficon pficon-builder-image"></span>'

  '𝗫 close (pf)':
    'prefix': 'i-close'
    'body': '<span class="pficon pficon-close"></span>'

  'cloud security (pf)':
    'prefix': 'i-cloud-security'
    'body': '<span class="pficon pficon-cloud-security"></span>'

  'cloud tenant (pf)':
    'prefix': 'i-cloud-tenant'
    'body': '<span class="pficon pficon-cloud-tenant"></span>'

  'cluster (pf)':
    'prefix': 'i-cluster'
    'body': '<span class="pficon pficon-cluster"></span>'

  'container node (pf)':
    'prefix': 'i-container-node'
    'body': '<span class="pficon pficon-container-node"></span>'

  'cpu (pf)':
    'prefix': 'i-cpu'
    'body': '<span class="pficon pficon-cpu"></span>'

  '🗑 delete (pf)':
    'prefix': 'i-delete'
    'body': '<span class="pficon pficon-delete"></span>'

  '✎ edit (pf)':
    'prefix': 'i-edit'
    'body': '<span class="pficon pficon-edit"></span>'

  'enterprise (pf)':
    'prefix': 'i-enterprise'
    'body': '<span class="pficon pficon-enterprise"></span>'

  'Ⓧ error (pf)':
    'prefix': 'i-error'
    'body': '<span class="pficon pficon-error"></span>'

  'export (pf)':
    'prefix': 'i-export'
    'body': '<span class="pficon pficon-export"></span>'

  '⚑ flag (pf)':
    'prefix': 'i-flag'
    'body': '<span class="pficon pficon-flag"></span>'

  'flavor (pf)':
    'prefix': 'i-flavor'
    'body': '<span class="pficon pficon-flavor"></span>'

  '📁 folder closed (pf)':
    'prefix': 'i-folder-close'
    'body': '<span class="pficon pficon-folder-close"></span>'

  '📂 folder open (pf)':
    'prefix': 'i-folder-open'
    'body': '<span class="pficon pficon-folder-open"></span>'

  '❔ help (pf)':
    'prefix': 'i-help'
    'body': '<span class="pficon pficon-help"></span>'

  '🏠 home (pf)':
    'prefix': 'i-home'
    'body': '<span class="pficon pficon-home"></span>'

  '⏰⟲ history (pf)':
    'prefix': 'i-history'
    'body': '<span class="pficon pficon-history"></span>'

  'image (pf)':
    'prefix': 'i-image'
    'body': '<span class="pficon pficon-image"></span>'

  'import (pf)':
    'prefix': 'i-import'
    'body': '<span class="pficon pficon-import"></span>'

  'ⓘ info (pf)':
    'prefix': 'i-info'
    'body': '<span class="pficon pficon-info"></span>'

  'memory (pf)':
    'prefix': 'i-memory'
    'body': '<span class="pficon pficon-memory"></span>'

  'network (pf)':
    'prefix': 'i-network'
    'body': '<span class="pficon pficon-network"></span>'

  '☑ OK (pf)':
    'prefix': 'i-OK'
    'body': '<span class="pficon pficon-ok"></span>'

  'print (pf)':
    'prefix': 'i-print'
    'body': '<span class="pficon pficon-print"></span>'

  'project (pf)':
    'prefix': 'i-project'
    'body': '<span class="pficon pficon-project"></span>'

  'regions (pf)':
    'prefix': 'i-regions'
    'body': '<span class="pficon pficon-regions"></span>'

  'registry (pf)':
    'prefix': 'i-registry'
    'body': '<span class="pficon pficon-registry"></span>'

  'replicator (pf)':
    'prefix': 'i-replicator'
    'body': '<span class="pficon pficon-replicator"></span>'

  'repository (pf)':
    'prefix': 'i-repository'
    'body': '<span class="pficon pficon-repository"></span>'

  'resource pool (pf)':
    'prefix': 'i-resource-pool'
    'body': '<span class="pficon pficon-resource-pool"></span>'

  '◒ resources-almost-full-icon':
    'prefix': 'i-resources-almost-full'
    'body': '<span class="pficon pficon-resources-almost-full"></span>'

  '◉ resources full (pf)':
    'prefix': 'i-resources-full'
    'body': '<span class="pficon pficon-resources-full"></span>'

  'restart (pf)':
    'prefix': 'i-restart'
    'body': '<span class="pficon pficon-restart"></span>'

  'route (pf)':
    'prefix': 'i-route'
    'body': '<span class="pficon pficon-route"></span>'

  'running (pf)':
    'prefix': 'i-running'
    'body': '<span class="pficon pficon-running"></span>'

  'save (pf)':
    'prefix': 'i-save'
    'body': '<span class="pficon pficon-save"></span>'

  'screen (pf)':
    'prefix': 'i-screen'
    'body': '<span class="pficon pficon-screen"></span>'

  '▤ server (pf)':
    'prefix': 'i-server'
    'body': '<span class="pficon pficon-server"></span>'

  'service (pf)':
    'prefix': 'i-service'
    'body': '<span class="pficon pficon-service"></span>'

  'settings (pf)':
    'prefix': 'i-settings'
    'body': '<span class="pficon pficon-settings"></span>'

  'storage domain (pf)':
    'prefix': 'i-storage-domain'
    'body': '<span class="pficon pficon-storage-domain"></span>'

  'thumb tack (pf)':
    'prefix': 'i-thumb-tack'
    'body': '<span class="pficon pficon-thumb-tack-o"></span>'

  'topology (pf)':
    'prefix': 'i-topology'
    'body': '<span class="pficon pficon-topology"></span>'

  '➘ trend down (pf)':
    'prefix': 'i-trend-down'
    'body': '<span class="pficon pficon-trend-down"></span>'

  '➚ trend up (pf)':
    'prefix': 'i-trend-up'
    'body': '<span class="pficon pficon-trend-up"></span>'

  'user (pf)':
    'prefix': 'i-user'
    'body': '<span class="pficon pficon-user"></span>'

  'users (pf)':
    'prefix': 'i-users'
    'body': '<span class="pficon pficon-users"></span>'

  'virtual machine (pf)':
    'prefix': 'i-virtual-machine'
    'body': '<span class="pficon pficon-virtual-machine"></span>'

  'volume (pf)':
    'prefix': 'i-volume'
    'body': '<span class="pficon pficon-volume"></span>'

  '⚠ warning (pf)':
    'prefix': 'i-warning'
    'body': '<span class="pficon pficon-warning-triangle-o"></span>'

  '⚭ zone (pf)':
    'prefix': 'i-zone'
    'body': '<span class="pficon pficon-zone"></span>'
